*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;
    font-family: 'Roboto',sans-serif;
    background-image: url('/Asset/images/background.jpg');
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
    margin-top: calc(100vh/3.5);
}

.container h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: gold;
}

.container h2{
    margin-bottom: 20px;
    font-size: 45px;
    color: yellow;
}

.container p{
    font-size: 45px;
    font-weight: 500;
    background-color: rgb(66, 68, 67);
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #cccf0c;
}

.btn-group{
    margin-top: 20px;
}

button{
    margin: 15px 20px;
    border: 2px solid rgb(141, 226, 12);
    padding: 12px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(102, 104, 102);
    color: rgb(223, 218, 218);
    text-align: center;
}
